    <footer id="page-bottom">
      <article id="footer-info">
      <!-- Begin MailChimp Signup Form -->             
      <div id="mc_embed_signup">
          <form action="http://sidesix.us1.list-manage.com/subscribe/post?u=014d56f4f1a55df879c82557e&amp;id=5542dbf8c2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <label for="mce-EMAIL"><strong>Subscribe to our mailing list:</strong> </label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required><br>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </form>
        </div>
      <!--End mc_embed_signup-->
            
        <div id="social">
          <h6>Check me out on:</h6>
            <a href="http://forrst.me/Dan_Avery" target="_blank" id="forrst">Forrst</a>
            <a href="https://twitter.com/#!/Side_Six" target="_blank" id="twitter">Twitter</a>
        </div><!-- end social -->
        <div>
          <p>&copy; {current_time format="%Y"} Side Six, All Rights Reserved<br>
          Side Six, <a href="http://sidesix.org">it's just a click away!</a></p>
        </div>           
      </article> <!-- end footer-info -->
      <div class="nav-wrapper">
          <div id="mobile">
            <ul>     
              <li><a href="/">Home</a></li>
              <li><a href="/portfolio">Portfolio</a></li>         
              <li><a href="/contact">Contact</a></li>           
              <li><a href="/aside">Aside</a></li>                 
              <li class="top"><a href="#logo">Top</a></li>        
            </ul>          
          </div><!--end mobile-->
        </div><!-- end nav wrapper -->         
    </footer><!-- end footer -->