<div class="nav-wrapper clearfix">
    <nav id="primary_nav">
      <ul>     
        <li class="primary"><a href="/">Home</a></li>
        <li class="primary"><a href="/portfolio">Portfolio</a></li>         
        <li class="primary"><a href="/contact">Contact</a></li>           
        <li class="primary"><a href="/aside">Aside</a></li>                 
        <li class="menu"><a href="#mobile">Menu</a></li>        
      </ul>          
    </nav><!--end primary_nav-->
</div>  <!-- end nav wrapper --> 