     <!--  Javascript at the bottom for fast page loading
      Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary
    -->
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script type='text/javascript'>
      //<![CDATA[
        window.jQuery || document.write("<script src='js/libs/jquery-1.7.2.min.js'>\x3C/script>")
      //]]>
    </script>
     <script type="text/javascript" src="/js/jquery.fancybox.pack.js?v=2.0.4"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".fancybox").fancybox();
      });
    </script>
    <script src='/js/libs/plugins.js?v=1'></script>
    <script src='/js/script.js?v=1'></script>

    <script src="jquery.fitvids.js"></script>
      <script>
        // Basic FitVids Test
        $("#container").fitVids();  
      </script>

    <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet -->
    <!-- change the UA-XXXXX-X to be your site's ID -->
   <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22925091-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script>
    {exp:socialeesta:scripts scripts="facebook|twitter|google" fb_app_id="YOUR FACEBOOK APP ID" fb_channel_url="YOUR FACEBOOK CHANNEL URL"}
  </script>