@charset "UTF-8";
/* normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 20, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 30, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
/* line 40, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 49, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 66, ../sass/partials/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 77, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 89, ../sass/partials/_normalize.scss */
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 102, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 112, ../sass/partials/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 125, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 133, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 142, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 146, ../sass/partials/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 154, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 162, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 175, ../sass/partials/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 185, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 198, ../sass/partials/_normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 205, ../sass/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 210, ../sass/partials/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 220, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 227, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 231, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 241, ../sass/partials/_normalize.scss */
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}

/* line 246, ../sass/partials/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 251, ../sass/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 267, ../sass/partials/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */
/* line 276, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 289, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 302, ../sass/partials/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 310, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
/* line 321, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 335, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 347, ../sass/partials/_normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 361, ../sass/partials/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */
/* line 373, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 383, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding that is displayed in S5, Chrome on OS X
 */
/* line 394, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 404, ../sass/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 414, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
/* line 428, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, ../sass/partials/_typography.scss */
.allcaps {
  text-transform: uppercase;
}

/* line 8, ../sass/partials/_typography.scss */
.amp {
  font-family: bookman-1, bookman-2, serif;
}

/* line 11, ../sass/partials/_typography.scss */
.smallcaps {
  font-variant: small-caps;
}

/* line 15, ../sass/partials/_typography.scss */
.dquo {
  margin-left: -0.5em;
  font-family: bookman-1, bookman-2, serif;
}

/* Only use the fancy ampersand in <h#> tags */
/* line 20, ../sass/partials/_typography.scss */
h1 .amp, h2 .amp, h3 .amp, h4 .amp, h5 .amp, h6 .amp {
  font-size: 1em;
  font-family: bookman-1, bookman-2, serif;
  font-style: italic;
}

/* line 26, ../sass/partials/_typography.scss */
body {
  font-size: 100%;
  line-height: 1.2;
  font-family: linden-hill-1, linden-hill-2, Georgia, serif;
  color: #333;
}

/* line 33, ../sass/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: proxima-nova-condensed-1, proxima-nova-condensed-2, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* line 40, ../sass/partials/_typography.scss */
h1, h2, h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

/* line 42, ../sass/partials/_typography.scss */
h1 {
  font-size: 2.5em;
  line-height: 1.125;
  margin-bottom: 0.3em;
  color: #444;
}

/* line 49, ../sass/partials/_typography.scss */
h2 {
  font-size: 1.65em;
  line-height: 1.5;
  padding: .5em 0;
  color: #3a2f2f;
}
@media only screen and (max-width: 768px) {
  /* line 49, ../sass/partials/_typography.scss */
  h2 {
    font-size: 1.4em;
    line-height: 1.4;
  }
}

/* line 60, ../sass/partials/_typography.scss */
h3 {
  font-size: 1.425em;
  line-height: 1.4;
  padding-top: 1em;
  margin-bottom: 0.7em;
  color: #666;
  border-bottom: 0.1em solid #693;
}

/* line 69, ../sass/partials/_typography.scss */
h4 {
  font-size: 1.25em;
  line-height: 1.5;
  padding-top: 1em;
  margin-bottom: 1em;
  color: #777;
}

/* line 77, ../sass/partials/_typography.scss */
h5 {
  font-size: 1.125em;
  line-height: 1.6667;
  padding-top: 1.1111em;
  color: #888;
}

/* line 84, ../sass/partials/_typography.scss */
h6 {
  padding-top: 1em;
  color: #999;
}

/* line 89, ../sass/partials/_typography.scss */
b, strong {
  font-weight: bold;
}

/* line 93, ../sass/partials/_typography.scss */
i, em {
  font-style: italic;
}

/* line 97, ../sass/partials/_typography.scss */
hr {
  border: none;
  height: 0.1em;
  background: #ccc;
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 104, ../sass/partials/_typography.scss */
p, ul, ol, hr, table, form, fieldset {
  margin: 1.25em 0;
}

/* line 108, ../sass/partials/_typography.scss */
li {
  list-style-position: inside;
  margin-left: 1em;
  text-indent: -1em;
}

/* line 114, ../sass/partials/_typography.scss */
blockquote {
  margin: 1em .4em;
  border-top: 0.1em solid;
  border-bottom: 0.1em solid;
  padding: 0 1em;
  font-family: linden-hill-1, linden-hill-2, Georgia, serif;
  font-style: italic;
  font-size: 1.25em;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #444;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}

/* line 133, ../sass/partials/_typography.scss */
cite {
  font-family: linden-hill-1, linden-hill-2, Georgia, serif;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 200;
}

/* line 141, ../sass/partials/_typography.scss */
blockquote em {
  font-style: normal;
}

/* line 145, ../sass/partials/_typography.scss */
figcaption {
  font-family: linden-hill-1, linden-hill-2, Georgia, serif;
  font-style: italic;
  font-size: 0.857em;
  line-height: 1.4286;
  color: #666;
}

/* line 154, ../sass/partials/_typography.scss */
article > p,
article section > p {
  font-size: 1em;
  line-height: 1.5;
  word-spacing: 0.1em;
  margin: 1.1111em 0;
}

/* line 162, ../sass/partials/_typography.scss */
time {
  display: block;
  text-align: right;
  font-weight: normal;
  font-family: linden-hill-1, linden-hill-2, Georgia, serif;
  text-transform: uppercase;
  font-size: 0.75em;
  line-height: 1.6667;
  letter-spacing: 0.2em;
  color: #888;
}

/* line 174, ../sass/partials/_typography.scss */
time:before {
  content: '—';
}

/* line 3, ../sass/partials/_nav.scss */
nav {
  margin: 0;
  margin-right: 2.083%;
  margin-bottom: 15px;
  font: 1.4em/1.4 proxima-nova-condensed-1, proxima-nova-condensed-2, sans-serif;
  text-align: right;
  padding-right: 0.833%;
}
@media only screen and (max-width: 768px) {
  /* line 3, ../sass/partials/_nav.scss */
  nav {
    margin-right: 0;
  }
}
/* line 13, ../sass/partials/_nav.scss */
nav li {
  display: inline;
  padding: .25em;
}
/* line 17, ../sass/partials/_nav.scss */
nav li a {
  text-decoration: none;
  border-bottom: 1px solid #df1316;
}
/* line 22, ../sass/partials/_nav.scss */
nav li a:last-of-type {
  padding-right: 0;
}
/* line 25, ../sass/partials/_nav.scss */
nav li a:hover {
  background: #fafa30;
  color: #3a2f2f;
}

/* line 8, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #3a2f2f;
}

/* line 12, ../sass/partials/_page.scss */
a, a:active, a:visited {
  color: #f68025;
}

/* line 13, ../sass/partials/_page.scss */
a:hover {
  color: #d2c72d;
}

/* line 15, ../sass/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 22, ../sass/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px 0 red;
  -webkit-box-shadow: 0 0 5px 0 red;
  -o-box-shadow: 0 0 5px 0 red;
  box-shadow: 0 0 5px 0 red;
}

/* line 27, ../sass/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 29, ../sass/partials/_page.scss */
ul {
  list-style: none;
}

/* line 31, ../sass/partials/_page.scss */
img {
  max-width: 100%;
}

/* http://sonspring.com/journal/clearing-floats */
/* line 36, ../sass/partials/_page.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */
/* line 47, ../sass/partials/_page.scss */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
/* line 63, ../sass/partials/_page.scss */
* html .clearfix,
*:first-child + html .clearfix {
  zoom: 1;
}

/* Classes ---------------------------------------*/
/* line 74, ../sass/partials/_page.scss */
.highlight {
  color: #df1316;
}

/* line 78, ../sass/partials/_page.scss */
.page-left {
  width: 90%;
  margin-left: 3.75%;
}
@media only screen and (max-width: 768px) {
  /* line 78, ../sass/partials/_page.scss */
  .page-left {
    margin-left: 1.042%;
    margin-right: 1.042%;
  }
}

/* Page Structure -------------------------------- */
/* line 89, ../sass/partials/_page.scss */
body {
  background-image: url(../images/exclusive_paper.png);
  background-repeat: repeat;
}

/* line 94, ../sass/partials/_page.scss */
#container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* line 100, ../sass/partials/_page.scss */
#page-content {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  /* line 100, ../sass/partials/_page.scss */
  #page-content {
    width: 98%;
    margin: 0;
  }
}

/* line 111, ../sass/partials/_page.scss */
#logo {
  background: url(../images/bg-gradient.png) repeat-x;
}

/* line 115, ../sass/partials/_page.scss */
#logo figure {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  /* line 115, ../sass/partials/_page.scss */
  #logo figure {
    width: 13.021%;
  }
}

/* line 121, ../sass/partials/_page.scss */
#logo img {
  padding: 4px 0;
  padding-left: 0.833%;
}

/* line 126, ../sass/partials/_page.scss */
header.styled {
  background: #f68025;
  padding: 2px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px 1px #dedede;
  margin-bottom: 20px;
  color: #3a2f2f;
}

/* line 137, ../sass/partials/_page.scss */
#page-title {
  margin: 0;
  margin-left: 3.75%;
}
@media only screen and (max-width: 768px) {
  /* line 137, ../sass/partials/_page.scss */
  #page-title {
    margin-left: 1.563%;
  }
}

/* line 145, ../sass/partials/_page.scss */
#page-copy-top {
  width: 50%;
  float: right;
  margin: 0;
  padding-right: 1.667%;
}
@media only screen and (max-width: 768px) {
  /* line 145, ../sass/partials/_page.scss */
  #page-copy-top {
    width: 52.083%;
    padding-right: 0;
    padding-left: 1.302%;
  }
}

/* line 157, ../sass/partials/_page.scss */
#copy-top {
  margin: 35px 0;
}

/* line 161, ../sass/partials/_page.scss */
#page-copy-bottom {
  width: 33.333%;
  float: left;
  margin: 45px 0;
  margin-left: 3.75%;
}
@media only screen and (max-width: 768px) {
  /* line 161, ../sass/partials/_page.scss */
  #page-copy-bottom {
    width: 42.318%;
    margin-left: 1.042%;
  }
}

/* line 172, ../sass/partials/_page.scss */
footer {
  margin-top: 60px;
  text-align: center;
  padding-bottom: 25px;
}
