sidesix.esproj/
.swp
.DS_Store
sidesix.bbprojectd
.tm_properties
.sass-cache/*
.sass-cache
*/.DS_Store
*/*/.DS_Store
resources/sidesix-icons/.DS_Store
resources/sidesix-icons/png/.DS_Store
aside/
fire_app_log.txt
images/hj-social-bookmarks/
midnight/expressionengine/third_party/hj_social_bookmarks/
midnight/expressionengine/third_party/socialeesta/