{

	"HTMLFileName":"sidesix.html",
	"usedBOM":"false",
	"stage-Default Timeline_playhead_ms":"0",
	"CompZoomFactor":"100",
	"viewStartY":"0",
	"ModelData":"{\
\"stage\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"${_Text3}\": [], \
                \"${_Text2}\": [], \
                \"${_Text}\": [], \
                \"${_stage}\": []\
            }\
      }\
   }}\
}"}