body > header {
  background: #EFEEED $header-bg-image repeat-x;
  padding: 0;
  padding-top: .5em;
  padding-bottom: 1.5em;
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $attention-text;
      text-decoration: none;
      text-shadow: $text-shadow;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}

#logo {
  width:120px;
  margin: 0;
  padding: 0;
  @media only screen and (max-width: 480px) {
    width: 80px;
  }
}

hgroup {
  margin-top: -2em;
  margin-left: 15%;
  @media only screen and (max-width: 600px) {
    margin-left: 25%;
  }
  @media only screen and (max-width: 480px) {
    margin-left: 20%;
  }
  @media only screen and (max-width: 320px) {
    margin-top: -3em;
    margin-left: 26%;
  }
}
