{embed="embeds/doc_head" default_title="The Side Six Portfolio" default_description="Side Six specializes in responsive web design; we craft web sites that fit every device's screen from the iPhone to your 64 inch plasma Sony flatscreen."} 
<body id="home">
   <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
        chromium.org/developers/how-tos/chrome-frame-getting-started -->
   <!--[if lt IE 9]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
   
   <div id="container" class="clearfix">
{embed="embeds/masthead"}    

{embed="embeds/nav"}         
<header id="page-title" class="clearfix">
  <h1>The Side Six Portfolio</h1>
</header>     
    <section id="page-copy-top">
      <article id="copy-top">
          {exp:channel:entries channel="portfolio" limit="12" dynamic="no"}
            <header class="styled">
              <h2>{title}</h2>
            </header><!-- /header -->
               <p>{portfolio_copy}</p>           
        </article> <!-- end copy top -->
  </section> <!-- end page copy top -->
                
  <section id="page-copy-bottom" class="clearfix">
    <div class="page-left"> 
      {exp:channel_images:images entry_id="{entry_id}" limit="12"}
        <a  class="fancybox" href="{image:url:large}" title="{image:title}"><img src="{image:url:small}" alt="{image:title}" /></a>
        <figcaption>{image:description}</figcaption>
      {/exp:channel_images:images}
    </div><!-- end page-left -->                              
  </section><!-- !end Page Copy bottom-->
  {/exp:channel:entries}
    <div class="clearfix"></div>      
{embed="embeds/footer"}
     
</div><!-- end container -->   
{embed="embeds/scripts"}
</body>
</html>