{embed="embeds/doc_head" default_title="Welcome to Side Six" default_description="Side Six specializes in responsive web design; we craft web sites that fit every device's screen from the iPhone to your 64 inch plasma Sony flatscreen."}  
<body id="home">
   <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
        chromium.org/developers/how-tos/chrome-frame-getting-started -->
   <!--[if lt IE 9]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
   
   <div id="container" class="clearfix">
{embed="embeds/masthead"}    

{embed="embeds/nav"}       

<header id="page-title" class="clearfix">
  <h1>Responsive Web Design</h1>
</header>  
        
    <section id="page-copy-top">
      <article id="copy-top">
        <header class="styled">
          <h2>Design, The Web, <span class=".amp">&amp;</span> Everything</h2>
        </header><!-- /header -->

        <p>There&#8217;s a Shaker Philosophy that I try to practice: If you are going to build something, make sure it&#8217;s both necessary and useful; if it is both necessary and useful, do not hesitate to make it beautiful.</p>

        <p><span class="highlight">A web site should automatically respond</span> to <span class="highlight">what</span> I&#8217;m doing, <span class="highlight">where</span> I&#8217;m doing it, and the <span class="highlight">device</span> I&#8217;m doing it on. For example if I&#8217;m surfing the web on my iPhone in a Starbucks, the web pages should be designed to adapt to an iPhone using a fairly slow connection. I shouldn't have to pinch and pull and flick all over the place. That is neither necessary or useful.</p>

        <h3><span class="highlight">Craftsmanship Is Crucial.</span></h3>

        <p>I watched my Great-Aunt Ethel fire eight different guys who wanted to build an addition onto her house one Summer. She had been born in the late 1880&#8217;s and she kept saying &#8220;he didn&#8217;t know what he was doing.&#8221; She meant they had no sense of <span class="highlight">quality</span>; that they were not craftsmen and, because of that, they had no business working on her home. She was right, you know.</p>

        <p>There are a lot of sites littering the web that were built by people like the guys my Great-Aunt Ethel fired. One can always get a web site built for free or for very little money. But if you want to stand out on the web, you should contact a designer that is talking about Responsive Web Design, one who is passionate about web standards, and one who understands the trend toward mobile and what it means for your business.</p> 

        <p>Give <span class="highlight">Side Six</span> a try. If it doesn&#8217;t work out, I&#8217;ll gladly recommend another craftsman. </p>
                              
      </article> <!-- end copy top -->
    </section> <!-- end page copy top -->
                
    <section id="page-copy-bottom" class="clearfix">
      <div class="page-left">
        <figure>
        <img src="images/320-trans.png" alt="an iPhone displaying a web page" />     
        </figure>                   
        <blockquote>
          <p>"If I had asked people what they wanted, they would have said a faster horse."</p>
          <cite>&mdash; Henry Ford</cite>
        </blockquote>          
      </div><!-- end page-left -->                                  
    </section><!-- !end Page Copy bottom-->

    <div class="clearfix"></div>
      
{embed="embeds/footer"}
     
</div><!-- end container -->   
{embed="embeds/scripts"}
</body>
</html>
