.lbTrigger
 {
  /* width: 100%*/
 }
 
 .lbOverlay
  {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-image: url("../images/overlay.png");
  }
  
  .lbContent
   {
     position: relative;
     top: 15%;
     left: 10%;
     width: 80%;
     max-width: 800px;
     text-align: center;
   }

   .hidden
   {
     display: none;
   } 