// The styles for the main navigation menu

.menu {
  display: none;
}

#mobile {
  display: none;
  visibility: hidden;
}

#primary_nav {
  width: 100%;
  float: left;
  display: block;
}

#primary_nav ul,
#mobile ul {
  list-style: none;
  width: 100%;
  display:block;
  float: left;
  margin: 0;
  margin-left: 0;
  @include menu-gradient;
}

#primary_nav li a {
  margin: 0;
  padding: 0 25px;
  float: left;
  text-align: center;
  display: block;
  color: $font-color;
  text-decoration: none;
  font-family: $font-sans;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 2em;
  border-right: 1px solid #9F9897;
  border-bottom: 1px solid #9F9897;
  @include menu-gradient;

  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

#primary_nav li a:hover,
#primary_nav li a:focus,
#mobile li a:hover, 
#mobile li a:focus {
    color: #1c1c1c;
    @include logo-gradient;
}


#primary_nav li:last-child a {
  border-right: none;
}

#primary_nav li.top {
  display:none;
}

@media only screen and (max-width: 480px) {
  ul > li.primary {
    display: none;
  }

  #primary_nav li {
    font-size: 0.95em;
  }

  li.menu{
    display: inline;
    border-right: 1px solid #dedede;
  }

  #primary_nav li:last-child a {
    border-right: 1px solid #9F9897;
  }

  #mobile {
    display: block;
    visibility: visible;
  }

  #mobile li a {
    display: block;
  }

  #mobile li a {
    color: $font-color;
  text-decoration: none;
  font-family: $font-sans;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 2em;
  height: 2em;
  padding: 5px 0;
  border-bottom: 1px solid #9F9897;
  @include menu-gradient;
  }

}
