@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

html {
	background: #252525;
}

body, select, input, textarea {
  margin: 0 auto;
  color: $font-color;  
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

ul {list-style: none;}

img {
    max-width: 100%;
}
/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
* html .clearfix,
*:first-child+html .clearfix {
    zoom: 1;
}


//-----------------------------------
// Add your own custom styles below
//-----------------------------------



/* Classes ---------------------------------------*/

.highlight {
  color: $highlighted-text;
}

.attention {
  color: $attention-text;
  text-decoration: underline;
  font-size: 115%;
}

.full-width {
  width: 90%;
  margin: 0 auto;
}

.responsive-design {
  width: 80%;
  margin: 35px auto;
}

.responsive-design hgroup h2 {
  margin: 0;
  padding: 0;
}

.responsive-design hgroup h3 {
  margin: 0;
  padding: 0;
}

.responsive-design p {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
    @media only screen and (max-width: 600px) {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    width: 80%;
    }
    @media only screen and (max-width: 480px) {
      width: auto;
    }
}

.responsive-design figure {
  margin: 15px 0;
}
.responsive-design figure#iphone-ss {
  float: left;
  @media only screen and (max-width: 1001px) {
    float: none;
    width: auto;
    margin: 15px auto;
    text-align:center;
  }
}

.responsive-design figure#ipad-ss {
  float: right;
  @media only screen and (max-width: 1001px) {
    float: none;
    width: auto;
    margin: 15px auto;
    text-align:center;
  }
}

.responsive-design figure#desktop-ss {
    float: none;
    width: auto;
    margin: 15px auto;
    text-align:center;
}

.page-left {
    width: $content-width;
    margin-left: percentage(45/1200);
    @media only screen and (max-width: 1024px) {
      width: 98%;
      margin-left: percentage(10/1024);
    }
    @media only screen and (max-width: 768px) {
      margin-left: percentage(45/768);
      margin-right: percentage(8/768);
    }
    @media only screen and (max-width: 600px) {
     width:100%;
     margin: 0 auto; 
    }
}

.four-eighty {
  display: none;
  visibility: hidden;
  ul {margin:0; padding:0;}
  @media only screen and (max-width: 480px) {
    display: block;
    visibility: visible;
    width: auto;
    margin: 0 auto;
  }
}

.framed {
  border: $main-border;
  background: white;
  @include box-shadow-color;
  width: 90%;
  @media only screen and (max-width: 600px) {
    width: 50%;
  }
}

.thumb-left,
.thumb-right {
  padding: 10px;
  background: $font-color;
  margin-bottom: 1em;
  @include box-shadow;
}

.thumb-left {
  float: left;
}

.thumb-right {
  float: right;
}

.no-show {
  display: inline;
  visibility: visible;
  @media only screen and (max-width: 600px) {
    display: none;
    visibility: hidden;
  }
}

/* Buttons -------------------------------------------- */

#forrst,
#twitter {  
  font-size: 1.4em;
  padding: 10px;
  color: $font-color;
  margin-right: 8px;
  text-decoration: none;
  @include border-radius;
  @include box-shadow;

  -webkit-transition: all 0.3s ease 0.5s; 
  -moz-transition: all 0.3s ease 0.5s; 
  -o-transition: all 0.3s ease 0.5s; 
  transition: all 0.3s ease 0.5s;
}

#forrst {
  @include menu-gradient;
}

#forrst:hover,
#forrst:focus {
  @include logo-gradient;
}

#twitter {
  @include logo-gradient;
}

#twitter:hover,
#twitter:focus {
  @include menu-gradient;
}


/* Page Structure -------------------------------- */

body {
  background: #252525;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background: url(../images/fabric_plaid.png);
}

header#page-title {
  width: auto;
  margin: 0;
  margin-top: 2em;
  margin-left: 50px;
  text-align: left;
  @media only screen and (max-width: 600px) {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
  }
  @media only screen and (max-width: 480px) {
    margin-top: 1em;
  }
}

#page-content {
    width: $content-width;
    margin: 0 auto;
    // @include grid-background;
    overflow:hidden;
    @media only screen and (max-width: 768px) {
      width: 98%;
      margin: 0;
      position: relative;
    }
}

#logo {
    @include logo-gradient;
    float: left;
    width: 100%;
}

#logo-img {
  width: 30%;
  display: block;
  float: right;
}

#logo img {
  padding: 4px 0;
  margin: 0;
}

#logo hgroup {
  width: 60%;
  float: left;
  margin: 0;
  padding: 20px 0 0 40px;
  text-align: left;
  @media only screen and (max-width: 480px) {
    padding: 15px 0 0 15px;
    padding-bottom: 8px;
  }
}

#logo hgroup h1 {
  font-size: 3em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  @media only screen and (max-width: 640px) {
    font-size: 2.3em;
  }
  @media only screen and (max-width: 480px) {
    font-size: 1.8em;
  }
  @media only screen and (max-width: 392px) {
    font-size: 1.45em;
  }
}

#logo hgroup h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 1;
    @media only screen and (max-width: 640px) {
    font-size: 1.6em;
  }
  @media only screen and (max-width: 480px) {
    font-size: 1.2em;
  }
  @media only screen and (max-width: 392px) {
    font-size: 0.93em;
  }
}


header.styled {
    background: $header-bg;
    padding: 2px;
    text-align: center;
    @include border-radius;
    @include box-shadow-inset;
    text-shadow: $header-text-shadow;
    margin-bottom: 20px;
    color: $header-font-color;
    @media only screen and (max-width: 480px) {
      margin: 0;
      width: 95%;
    }
}

#page-title {
    margin: 45px 0 0;
    margin-left: percentage(45/1200);
    position: relative;
    @media only screen and (max-width: 768px) {
      margin-left: percentage(12/768);
    }
    @media only screen and (max-width: 600px) {
      width: $content-width;
      margin: 0;
      text-align: center;
    }
    @media only screen and (max-width: 480px) {
      margin-left: percentage(40/480);
    }
    @media only screen and (max-width: 320px) {
      margin-left: percentage(24/320);
    }
}

#page-copy-top {
    width: percentage( 600/1200);
    float: right;
    padding-right: percentage(35/1200);
    @media only screen and (max-width: 768px) {
      padding-left: percentage(2/600);
      float: none;
      width: 95%;
      margin: 0 auto;
      padding-right: 0;
    }
    @media only screen and (max-width: 480px) {
      padding-left: percentage(15/480);
    }
}

#copy-top {
    margin: 55px auto;
    @media only screen and (max-width: 768px) {
      margin: 20px auto;
      width: 60%;
    }
    @media only screen and (max-width: 480px) {
      margin: 15px auto;
      width: 90%;
    }
}

#page-copy-bottom {
    width: percentage(400/1200);
    float: left;
    margin: 45px 0;
    margin-left: percentage(45/1200);
    @media only screen and (max-width: 768px) {
      float: none;
      width: 100%;
      margin: 45px 0;
      margin-left: 0; 
      padding-right: 0;
      margin-right: 0;
        .page-left figure {
          float: left;
          width: 40%;
          margin: 0;
          padding: 0;
        }
        .page-left blockquote {
          float: left;
          width: 40%;
          margin-left: 15px;
        }
    }
      @media only screen and (max-width: 480px) {
      margin-left: percentage(15/480);
      .page-left blockquote {
        margin: 0;
        margin-left: 5px;
        float: left;
        width: 40%;
      }
    }
}

#hcard {
    width: 60%;
    padding: 10px 20px;
    margin: 1em auto;
    border: $main-border;
    background: white;
    @include box-shadow-color;
    font-family: $font-sans;
}

#sidebar header h2 {
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #bebebe;
}

footer {
    margin-top: 60px;
    text-align: center;
    padding-bottom: 25px;
    @media only screen and (max-width: 480px) {
      margin-top: 15px;
    }
}

/* embedded videos -------------------------------------- */

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; //ratio of 16:9
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
