@import "compass/css3";
@import "fancy-buttons";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;  
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

ul {list-style: none;}

img {
    max-width: 100%;
}
/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
* html .clearfix,
*:first-child+html .clearfix {
    zoom: 1;
}


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

/* Classes ---------------------------------------*/

.highlight {
  color: $highlighted-text;
}

.attention {
  color: $attention-text;
  text-decoration: underline;
  font-size: 115%;
}

.page-left {
    width: $content-width;
    margin-left: percentage(45/1200);
    @media only screen and (max-width: 768px) {
      margin-left: percentage(8/768);
      margin-right: percentage(8/768);
    }
    @media only screen and (max-width: 600px) {
     width: 55%;
     margin: 0 auto; 
    }
    @media only screen and (max-width: 480px) {
      width: 80%;
    }
    @media only screen and (max-width: 320px) {
      width: 98%;
    }
}

.four-eighty {
  display: none;
  visibility: hidden;
  ul {margin:0; padding:0;}
  @media only screen and (max-width: 480px) {
    display: block;
    visibility: visible;
    width: auto;
    margin: 0 auto;
  }
}

.framed {
  border: $main-border;
  background: white;
  @include box-shadow-color;
}

.thumb-left,
.thumb-right {
  padding: 10px;
  background: $font-color;
  margin-bottom: 1em;
  @include box-shadow;
}

.thumb-left {
  float: left;
}

.thumb-right {
  float: right;
}

.no-show {
  display: inline;
  visibility: visible;
  @media only screen and (max-width: 600px) {
    display: none;
    visibility: hidden;
  }
}

/* Buttons -------------------------------------------- */

#forrst {
  @include fancy-button(#d2c72d);
  margin-right: 8px;
}

#twitter {
  @include fancy-button(#797272);
}

/* Page Structure -------------------------------- */

body {
    background-image: url(../images/exclusive_paper.png);
    background-repeat: repeat;
}

#container {
    width: $full-width;
    margin: 0 auto;
    overflow: hidden;
}

#page-content {
    width: $content-width;
    margin: 0 auto;
    // @include grid-background;
    overflow:hidden;
    @media only screen and (max-width: 768px) {
      width: 98%;
      margin: 0;
      position: relative;
    }
}

#logo {
    background: url(../images/bg-gradient.png) repeat-x;
    position: relative;
    display: block;
    z-index: 2;
}

#logo-img {
  width: 25%;
  margin: 0;
  position: relative;
  display: block;
    @media only screen and (max-width: 768px)
      {width: percentage(100/768);}
      @media only screen and (max-width: 600px) {
        width: percentage(90/600);
      }
      @media only screen and (max-width: 480px) {
        width: percentage(90/480);
      }
      @media only screen and (max-width: 320px) {
        width: percentage(90/320);
      }
}

#logo img {
  padding: 4px 0;
  padding-left: percentage(10/1200);
  @media only screen and (max-width: 480px) {
    padding-left: percentage(20/480);}
}

#alt-top-nav {
	width: 80px;
	text-align: center;
	margin: 12px auto 6px;
	margin-left: percentage(200/480);
	@include fancy-button (#e02426, 1.4em, 1em, 4px);
        a {
          color: $font-color;;
          text-decoration: none;}
          @media only screen and (max-width: 320px) {
            margin-left: percentage(100/320);
          }
}

header.styled {
    background: $header-bg;
    padding: 2px;
    text-align: center;
    @include border-radius;
    @include box-shadow-inset;
    text-shadow: $header-text-shadow;
    margin-bottom: 20px;
    color: $header-font-color;
}

#page-title {
    margin: 0;
    margin-left: percentage(45/1200);
    position: relative;
    @media only screen and (max-width: 768px) {
      margin-left: percentage(12/768);
    }
    @media only screen and (max-width: 600px) {
      width: $content-width;
      margin: 0;
      text-align: center;
    }
    @media only screen and (max-width: 480px) {
      margin-left: percentage(40/480);
    }
    @media only screen and (max-width: 320px) {
      margin-left: percentage(24/320);
    }
}

#page-copy-top {
    width: percentage( 600/1200);
    float: right;
    margin: 0;
    padding-right: percentage(20/1200);
    @media only screen and (max-width: 768px) {
      width: percentage(400/768);
      padding-right: 0;
      padding-left: percentage(10/768);
    }
    @media only screen and (max-width: 600px) {
      padding-left: percentage(2/600);
      float: none;
      width: 95%;
      margin: 0 auto;
      padding-right: 0;
    }
    @media only screen and (max-width: 480px) {
      padding-left: percentage(15/480);
    }
}

#copy-top {
    margin: 35px 0;
    @media only screen and (max-width: 600px) {
      margin: 20px 0;
    }
    @media only screen and (max-width: 480px) {
      margin: 15px 0}
}

#page-copy-bottom {
    width: percentage(400/1200);
    float: left;
    margin: 45px 0;
    margin-left: percentage(45/1200);
    @media only screen and (max-width: 768px) {
      width: percentage(325/768);
      margin-left: percentage(8/768);
    }
    @media only screen and (max-width: 600px) {
      float: none;
      width: 95%;
      margin: 0 auto; 
      padding-right: 0;
      margin-right: 0;
    }
      @media only screen and (max-width: 480px) {
      margin-left: percentage(15/480);
    }
}

#hcard {
    width: 60%;
    padding: 10px 20px;
    margin: 1em auto;
    border: $main-border;
    background: white;
    @include box-shadow-color;
    font-family: $font-sans;
}

footer {
    margin-top: 60px;
    text-align: center;
    padding-bottom: 25px;
    @media only screen and (max-width: 480px) {
      margin-top: 15px;
    }
}
