// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

img {
  max-width: 100%;
}

$main-bg: #EFEEED;
$page-bg: #EFEEED;
$article-border: #eeeeee;

$header-bg: #EFEEED;
$header-border: lighten(#efeeed, 15);
$title-color: #f2f2f2;
$subtitle-color: #aaa;

$text-color: #3A2F2F;
$text-color-light: #666;
$type-border: #ddd;

$nav-color: $link-color;
$nav-color-hover: $link-color-hover;


